/*
TrueNAS RESTful API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package truenas

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
)

// RouteApiService RouteApi service
type RouteApiService service

type RouteApiRouteIpv4gwReachablePostRequest struct {
	ctx        context.Context
	ApiService *RouteApiService
	body       *string
}

func (r RouteApiRouteIpv4gwReachablePostRequest) Body(body string) RouteApiRouteIpv4gwReachablePostRequest {
	r.body = &body
	return r
}

func (r RouteApiRouteIpv4gwReachablePostRequest) Execute() (*http.Response, error) {
	return r.ApiService.RouteIpv4gwReachablePostExecute(r)
}

/*
RouteIpv4gwReachablePost Method for RouteIpv4gwReachablePost

Get the IPv4 gateway and verify if it is reachable by any interface.

Returns:
    bool: True if the gateway is reachable or otherwise False.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return RouteApiRouteIpv4gwReachablePostRequest
*/
func (a *RouteApiService) RouteIpv4gwReachablePost(ctx context.Context) RouteApiRouteIpv4gwReachablePostRequest {
	return RouteApiRouteIpv4gwReachablePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *RouteApiService) RouteIpv4gwReachablePostExecute(r RouteApiRouteIpv4gwReachablePostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RouteApiService.RouteIpv4gwReachablePost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/route/ipv4gw_reachable"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type RouteApiRouteSystemRoutesGetRequest struct {
	ctx        context.Context
	ApiService *RouteApiService
	limit      *int32
	offset     *int32
	count      *bool
	sort       *string
}

func (r RouteApiRouteSystemRoutesGetRequest) Limit(limit int32) RouteApiRouteSystemRoutesGetRequest {
	r.limit = &limit
	return r
}

func (r RouteApiRouteSystemRoutesGetRequest) Offset(offset int32) RouteApiRouteSystemRoutesGetRequest {
	r.offset = &offset
	return r
}

func (r RouteApiRouteSystemRoutesGetRequest) Count(count bool) RouteApiRouteSystemRoutesGetRequest {
	r.count = &count
	return r
}

func (r RouteApiRouteSystemRoutesGetRequest) Sort(sort string) RouteApiRouteSystemRoutesGetRequest {
	r.sort = &sort
	return r
}

func (r RouteApiRouteSystemRoutesGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.RouteSystemRoutesGetExecute(r)
}

/*
RouteSystemRoutesGet Method for RouteSystemRoutesGet

Get current/applied network routes.

`query-options.extra` can be specified as query parameters with prefixing them with `extra.` prefix. For example, `extra.retrieve_properties=false` will pass `retrieve_properties` as an extra argument to pool/dataset endpoint.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return RouteApiRouteSystemRoutesGetRequest
*/
func (a *RouteApiService) RouteSystemRoutesGet(ctx context.Context) RouteApiRouteSystemRoutesGetRequest {
	return RouteApiRouteSystemRoutesGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *RouteApiService) RouteSystemRoutesGetExecute(r RouteApiRouteSystemRoutesGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RouteApiService.RouteSystemRoutesGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/route/system_routes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}
	if r.offset != nil {
		localVarQueryParams.Add("offset", parameterToString(*r.offset, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("count", parameterToString(*r.count, ""))
	}
	if r.sort != nil {
		localVarQueryParams.Add("sort", parameterToString(*r.sort, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
