/*
TrueNAS RESTful API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package truenas

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)

// CertificateauthorityApiService CertificateauthorityApi service
type CertificateauthorityApiService service

type CertificateauthorityApiCertificateauthorityCaSignCsrPostRequest struct {
	ctx                            context.Context
	ApiService                     *CertificateauthorityApiService
	certificateauthorityCaSignCsr0 *CertificateauthorityCaSignCsr0
}

func (r CertificateauthorityApiCertificateauthorityCaSignCsrPostRequest) CertificateauthorityCaSignCsr0(certificateauthorityCaSignCsr0 CertificateauthorityCaSignCsr0) CertificateauthorityApiCertificateauthorityCaSignCsrPostRequest {
	r.certificateauthorityCaSignCsr0 = &certificateauthorityCaSignCsr0
	return r
}

func (r CertificateauthorityApiCertificateauthorityCaSignCsrPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.CertificateauthorityCaSignCsrPostExecute(r)
}

/*
CertificateauthorityCaSignCsrPost Method for CertificateauthorityCaSignCsrPost

Sign CSR by Certificate Authority of `ca_id`

Sign CSR's and generate a certificate from it. `ca_id` provides which CA is to be used for signing
a CSR of `csr_cert_id` which exists in the system

`cert_extensions` can be specified if specific extensions are to be set in the newly signed certificate.




 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return CertificateauthorityApiCertificateauthorityCaSignCsrPostRequest
*/
func (a *CertificateauthorityApiService) CertificateauthorityCaSignCsrPost(ctx context.Context) CertificateauthorityApiCertificateauthorityCaSignCsrPostRequest {
	return CertificateauthorityApiCertificateauthorityCaSignCsrPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *CertificateauthorityApiService) CertificateauthorityCaSignCsrPostExecute(r CertificateauthorityApiCertificateauthorityCaSignCsrPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CertificateauthorityApiService.CertificateauthorityCaSignCsrPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/certificateauthority/ca_sign_csr"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.certificateauthorityCaSignCsr0
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CertificateauthorityApiCertificateauthorityGetRequest struct {
	ctx        context.Context
	ApiService *CertificateauthorityApiService
	limit      *int32
	offset     *int32
	count      *bool
	sort       *string
}

func (r CertificateauthorityApiCertificateauthorityGetRequest) Limit(limit int32) CertificateauthorityApiCertificateauthorityGetRequest {
	r.limit = &limit
	return r
}

func (r CertificateauthorityApiCertificateauthorityGetRequest) Offset(offset int32) CertificateauthorityApiCertificateauthorityGetRequest {
	r.offset = &offset
	return r
}

func (r CertificateauthorityApiCertificateauthorityGetRequest) Count(count bool) CertificateauthorityApiCertificateauthorityGetRequest {
	r.count = &count
	return r
}

func (r CertificateauthorityApiCertificateauthorityGetRequest) Sort(sort string) CertificateauthorityApiCertificateauthorityGetRequest {
	r.sort = &sort
	return r
}

func (r CertificateauthorityApiCertificateauthorityGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.CertificateauthorityGetExecute(r)
}

/*
CertificateauthorityGet Method for CertificateauthorityGet

`query-options.extra` can be specified as query parameters with prefixing them with `extra.` prefix. For example, `extra.retrieve_properties=false` will pass `retrieve_properties` as an extra argument to pool/dataset endpoint.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return CertificateauthorityApiCertificateauthorityGetRequest
*/
func (a *CertificateauthorityApiService) CertificateauthorityGet(ctx context.Context) CertificateauthorityApiCertificateauthorityGetRequest {
	return CertificateauthorityApiCertificateauthorityGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *CertificateauthorityApiService) CertificateauthorityGetExecute(r CertificateauthorityApiCertificateauthorityGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CertificateauthorityApiService.CertificateauthorityGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/certificateauthority"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}
	if r.offset != nil {
		localVarQueryParams.Add("offset", parameterToString(*r.offset, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("count", parameterToString(*r.count, ""))
	}
	if r.sort != nil {
		localVarQueryParams.Add("sort", parameterToString(*r.sort, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CertificateauthorityApiCertificateauthorityIdIdDeleteRequest struct {
	ctx        context.Context
	ApiService *CertificateauthorityApiService
	id         int32
}

func (r CertificateauthorityApiCertificateauthorityIdIdDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.CertificateauthorityIdIdDeleteExecute(r)
}

/*
CertificateauthorityIdIdDelete Method for CertificateauthorityIdIdDelete

Delete a Certificate Authority of `id`



 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return CertificateauthorityApiCertificateauthorityIdIdDeleteRequest
*/
func (a *CertificateauthorityApiService) CertificateauthorityIdIdDelete(ctx context.Context, id int32) CertificateauthorityApiCertificateauthorityIdIdDeleteRequest {
	return CertificateauthorityApiCertificateauthorityIdIdDeleteRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *CertificateauthorityApiService) CertificateauthorityIdIdDeleteExecute(r CertificateauthorityApiCertificateauthorityIdIdDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CertificateauthorityApiService.CertificateauthorityIdIdDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/certificateauthority/id/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CertificateauthorityApiCertificateauthorityIdIdGetRequest struct {
	ctx        context.Context
	ApiService *CertificateauthorityApiService
	id         int32
}

func (r CertificateauthorityApiCertificateauthorityIdIdGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.CertificateauthorityIdIdGetExecute(r)
}

/*
CertificateauthorityIdIdGet Method for CertificateauthorityIdIdGet

`query-options.extra` can be specified as query parameters with prefixing them with `extra.` prefix. For example, `extra.retrieve_properties=false` will pass `retrieve_properties` as an extra argument to pool/dataset endpoint.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return CertificateauthorityApiCertificateauthorityIdIdGetRequest
*/
func (a *CertificateauthorityApiService) CertificateauthorityIdIdGet(ctx context.Context, id int32) CertificateauthorityApiCertificateauthorityIdIdGetRequest {
	return CertificateauthorityApiCertificateauthorityIdIdGetRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *CertificateauthorityApiService) CertificateauthorityIdIdGetExecute(r CertificateauthorityApiCertificateauthorityIdIdGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CertificateauthorityApiService.CertificateauthorityIdIdGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/certificateauthority/id/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CertificateauthorityApiCertificateauthorityIdIdPutRequest struct {
	ctx        context.Context
	ApiService *CertificateauthorityApiService
	id         int32
}

func (r CertificateauthorityApiCertificateauthorityIdIdPutRequest) Execute() (*http.Response, error) {
	return r.ApiService.CertificateauthorityIdIdPutExecute(r)
}

/*
CertificateauthorityIdIdPut Method for CertificateauthorityIdIdPut

Update Certificate Authority of `id`

Only `name` and `revoked` attribute can be updated.

If `revoked` is enabled, the CA and its complete chain is marked as revoked and added to the CA's
certificate revocation list.




 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return CertificateauthorityApiCertificateauthorityIdIdPutRequest
*/
func (a *CertificateauthorityApiService) CertificateauthorityIdIdPut(ctx context.Context, id int32) CertificateauthorityApiCertificateauthorityIdIdPutRequest {
	return CertificateauthorityApiCertificateauthorityIdIdPutRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *CertificateauthorityApiService) CertificateauthorityIdIdPutExecute(r CertificateauthorityApiCertificateauthorityIdIdPutRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPut
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CertificateauthorityApiService.CertificateauthorityIdIdPut")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/certificateauthority/id/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CertificateauthorityApiCertificateauthorityPostRequest struct {
	ctx                         context.Context
	ApiService                  *CertificateauthorityApiService
	certificateauthorityCreate0 *CertificateauthorityCreate0
}

func (r CertificateauthorityApiCertificateauthorityPostRequest) CertificateauthorityCreate0(certificateauthorityCreate0 CertificateauthorityCreate0) CertificateauthorityApiCertificateauthorityPostRequest {
	r.certificateauthorityCreate0 = &certificateauthorityCreate0
	return r
}

func (r CertificateauthorityApiCertificateauthorityPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.CertificateauthorityPostExecute(r)
}

/*
CertificateauthorityPost Method for CertificateauthorityPost

Create a new Certificate Authority

Certificate Authorities are classified under following types with the necessary keywords to be passed
for `create_type` attribute to create the respective type of certificate authority

1) Internal Certificate Authority       -  CA_CREATE_INTERNAL

2) Imported Certificate Authority       -  CA_CREATE_IMPORTED

3) Intermediate Certificate Authority   -  CA_CREATE_INTERMEDIATE

Created certificate authorities use RSA keys by default. If an Elliptic Curve Key is desired, then it can be
specified with the `key_type` attribute. If the `ec_curve` attribute is not specified for the Elliptic
Curve Key, default to using "BrainpoolP384R1" curve.

A type is selected by the Certificate Authority Service based on `create_type`. The rest of the values
are validated accordingly and finally a certificate is made based on the selected type.

`cert_extensions` can be specified to set X509v3 extensions.




 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return CertificateauthorityApiCertificateauthorityPostRequest
*/
func (a *CertificateauthorityApiService) CertificateauthorityPost(ctx context.Context) CertificateauthorityApiCertificateauthorityPostRequest {
	return CertificateauthorityApiCertificateauthorityPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *CertificateauthorityApiService) CertificateauthorityPostExecute(r CertificateauthorityApiCertificateauthorityPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CertificateauthorityApiService.CertificateauthorityPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/certificateauthority"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.certificateauthorityCreate0
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CertificateauthorityApiCertificateauthorityProfilesGetRequest struct {
	ctx        context.Context
	ApiService *CertificateauthorityApiService
}

func (r CertificateauthorityApiCertificateauthorityProfilesGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.CertificateauthorityProfilesGetExecute(r)
}

/*
CertificateauthorityProfilesGet Method for CertificateauthorityProfilesGet

Returns a dictionary of predefined options for specific use cases i.e OpenVPN certificate authority
configurations which can be used for creating certificate authorities.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return CertificateauthorityApiCertificateauthorityProfilesGetRequest
*/
func (a *CertificateauthorityApiService) CertificateauthorityProfilesGet(ctx context.Context) CertificateauthorityApiCertificateauthorityProfilesGetRequest {
	return CertificateauthorityApiCertificateauthorityProfilesGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *CertificateauthorityApiService) CertificateauthorityProfilesGetExecute(r CertificateauthorityApiCertificateauthorityProfilesGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CertificateauthorityApiService.CertificateauthorityProfilesGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/certificateauthority/profiles"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
